html, body {
    width: 1200px;
}
body {
    font-family: "Montserrat",sans-serif;
    line-height: normal;
    color: #151b1f;
    line-height: 2.6rem;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}