html{
    background-color: #000;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.code{
    width: 800px;
    color: #038c19;
    font-size: 80px;
    text-align: center;
    font-family: 'Courier New', monospace;
}
